/* 表单部分1 -button*/
.antui-btn{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}
.antui-block {
  display: block;
  width: 100%;
}
.antui-btn.disabled{
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

/*按钮颜色及可用状态样式*/
.antui-btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.antui-btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.antui-btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.antui-btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.antui-btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.antui-btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.antui-btn-link {
  font-weight: normal;
  color: #337ab7;
  border-radius: 0;
}
.antui-btn-secondary {
  background-color: #222;
  color: #fff;
  border: 1px solid transparent;
}
/*上面为通用样式 BUTTON**/


/*.ant-msg-layout,.ant-dialog-layout{
  display: inline-block;
  position: fixed;
  z-index: 888888;
  box-shadow: 1px 1px 50px rgba(0,0,0,.3);
}*/
.ant-layout{
  display: inline-block;
  position: fixed;
  z-index: 888888;
  box-shadow: 1px 1px 50px rgba(0,0,0,.3);
  background-color: #fff;
  /*-webkit-transition: width .5s ease,-webkit-box-shadow .5s ease;*/
}
.ant-msg{
  background-color: #0000008c;
  color: #fff;
  padding: 12px 22px;
  border-radius: 4px;
  font-size: 14px;
  /*box-shadow: 1px 1px 50px rgba(0,0,0,.3);*/
}
/*遮罩*/
.ant-shade{
  position: fixed;
  pointer-events: auto;
  z-index: 888887;
  background-color: rgb(0, 0, 0);
  opacity: 0.3;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ant-msg-layout{
  max-width: 360px;
}
.ant-dialog-layout,.ant-html-layout{
  max-width: 480px;
}
.ant-dialog-layout{
  min-width: 256px;
  border-radius: 4px;    
  background-color: #fff;

  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}

.ant-tips-layout{
  z-index: 888888;
  position: absolute;
  background: 0 0;
  box-shadow: none;
  border: none;
}
.ant-tips-content{
  position: relative;
  line-height: 22px;
  min-width: 12px;    
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.2);
  background-color: #000;
  color: #fff
}
.ant-trigon{
  position: absolute;
  width: 0;
  height: 0;
  border-width: 8px;
  border-color: transparent;
  border-style: dashed;
/*  top: -8px;
  left: 5px*/;
}

.ant-tips-bottom .ant-trigon{
  border-right-style: solid;
  border-right-color: #000;
  top: -8px;
  left: 5px;
}
.ant-tips-right .ant-trigon{
  border-bottom-style: solid;
  border-bottom-color: #000;
  top: 5px;
  left: -8px;
}
.ant-tips-top .ant-trigon{
  border-right-style: solid;
  border-right-color: #000;
  left: 5px;
  bottom: -8px;
}
.ant-tips-left .ant-trigon{
  border-bottom-style: solid;
  border-bottom-color: #000;
  top: 5px;
  right: -8px;
}

.ant-layout-header{
  padding: 0 80px 0 20px;
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  background-color: #F8F8F8;
  /*border-radius: 2px 2px 0 0;*/
  /*cursor: move;*/
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.ant-layout-toolbar{
  position: absolute;
  right: 15px;    
  top: 10px;
  font-size: 0;
  line-height: initial;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  /*z-index: 888889*/
}
/*.ant-dialog-layout:hover{
  cursor: pointer;
}*/
.ant-layout-toolbar .ant-icon:hover{
  cursor: pointer;
}
.ant-layout-toolbar .ant-icon{
    font-size: 15px;
    margin-left: 12px;
}
.ant-layout-body{
  position: relative;    
  /*padding: 28px 24px 8px 24px;*/
  /*padding: 37px 24px 20px 24px;*/
  padding: 26px 24px 26px 24px;
  line-height: 24px;
  word-break: break-all;
  overflow: hidden;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: auto;
}
.ant-layout-footer{
  text-align: right;    
  padding: 0 15px 15px 0;
  pointer-events: auto;
  user-select: none;
  -webkit-user-select: none;
}
.ant-ifame-layout .ant-layout-body{
  padding: 0;
}
.ant-ifame-layout iframe{
  width: 100%;
  /*min-height:600px;*/
  display: block;
  border: none;
}

/*lading*/
.ant-loader{
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;

  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: fixed;    
  background-color: #00000087;
  border-radius: 6px;
}
.ant-ball-list >div {
  background-color: #fff;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin: 2px;
  display: inline-block;
  -webkit-animation: ant-ball-list .7s 0s infinite linear;
  animation: ant-ball-list .7s 0s infinite linear;
}
.ant-ball-list > div:nth-child(2n-1) {
  -webkit-animation-delay: -.35s!important;
  animation-delay: -.35s!important;
}
@keyframes ant-ball-list {
  50% {
    opacity:.2;
    -webkit-transform:scale(.75);
    transform:scale(.75)
  }
  100% {
    opacity:1;
    -webkit-transform:scale(1);
    transform:scale(1)
  }
}
